.counter-container {
  border: 5px double rgb(248, 129, 86);
  padding: 10px;
  margin: 15px;
}

.counter-container button {
  background-color: rgb(248, 129, 86);
  border: none;
  font-size: 1em;
  text-decoration: none;
  margin: 2px;
  padding: 5px;
  width: 25%;
  opacity: 0.8;
  outline: none;
}

.counter-container button:hover {
  opacity: 1;
  box-shadow: 0px 2px 3px #888;
}
