.movies-card-regular {
  border: 2px dashed black;
  padding: 10px;
  margin: 15px;
  width: 10em;
}

.movies-card-improved {
  border: 5px double rgb(86, 210, 248);
  padding: 10px;
  margin: 15px;
}

.movies-card-improved button {
  background-color: rgb(86, 210, 248);
  border: none;
  font-size: 1em;
  text-decoration: none;
  margin: 10px 0;
  padding: 5px;
  width: 25%;
  opacity: 0.8;
  outline: none;
}

.movie-form-container {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.5em;
}

.movie-form-container label {
  margin: 10px 0;
}

.movie-form-container input {
  width: 50%;
  padding: 0.5em;
  outline: none;
}

.movie-form-container button {
  background-color: rgb(248, 129, 86);
  border: none;
  font-size: 1em;
  text-decoration: none;
  margin: 10px 0;
  padding: 5px;
  width: 25%;
  opacity: 0.8;
  outline: none;
}

.movie-form-container button:hover,
.movies-card-improved button:hover {
  opacity: 1;
  box-shadow: 0px 2px 3px #888;
}
