.notice {
  border: 2px solid orange;
}

.pet-container {
  border: 2px dashed black;
  padding: 10px;
  margin: 15px;
  width: 10em;
}

.pet-container button {
  background-color: paleturquoise;
  border: none;
  font-size: 1em;
  text-decoration: none;
  margin: 2px;
  padding: 5px;
  width: 100%;
  opacity: 0.8;
  outline: none;
}

.pet-container button:hover {
  opacity: 1;
  box-shadow: 0px 2px 3px #888;
}
